<app-navbar></app-navbar>



<div class="container mt-5">
  <h3>About page</h3>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique, aut eveniet. Cum amet atque officiis quod necessitatibus pariatur totam aliquam, hic corporis aspernatur corrupti harum earum possimus quo ratione a.
  </p>


  <ul class="nav nav-tabs">

    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active x y" routerLink="/about/team">Team</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/about/historic">Historic</a>
    </li>
  </ul>


  <router-outlet></router-outlet>

</div>