<div class="row mb-3">
    <div class="col-12">
        <app-feed></app-feed>
    </div>
</div>
<div class="row mb-3">
    <div class="col-12">
        <app-feed></app-feed>
    </div>
</div>
<div class="row mb-3">
    <div class="col-12">
        <app-feed></app-feed>
    </div>
</div>
<div class="row mb-3">
    <div class="col-12">
        <app-feed></app-feed>
    </div>
</div>
<div class="row mb-3">
    <div class="col-12">
        <app-feed></app-feed>
    </div>
</div>
<div class="row mb-3">
    <div class="col-12">
        <app-feed></app-feed>
    </div>
</div>
